*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    
     
}
/*** Home page ****/
.home-pg{
    background-image: url(src/christmas-bgc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}
.sign{
    border-radius: 5px;
    border: 2px solid white;   
}
.christmas{
  font-family: 'Birthstone', cursive;
}
.nav{
    z-index: 1000;
    height: 60px;
    position: fixed;
    width: 100%;
    

}
#nav{
    /* background-color: rgb(12, 65, 100); */
    background-color: white;
    color: black;
}
.Christmas-text{
  padding-top: 10%;
  padding-left:20%;
  width: 100%;
  
}
.txt1{
    font-size: 170px;
     font-family: 'Birthstone', cursive;
}
.txt2{
    font-size: 20px;
    width: 50%;
    text-align: center;
}

/** about us**/
#about{
   background: linear-gradient(
  135deg,
  rgb(1, 15, 53),
  rgb(6, 25, 80),
  rgb(12, 45, 110)
);
    color:white;
}
.information{
    /* height: 200px; */
    gap:80px;
}
.info-img{
    /* background-color: yellow; */
    height: 450px;
    width: 550px;
    
}
.info-img img{
    height: 450px;
    width: 550px;
   overflow: hidden;
}
.info{
    /* background-color: pink; */
     height: 450px;
    width: 550px;
    padding: 10px;
}
.fa-regular{
    color: green;
}
.about-content{
    display: grid;
    grid-template-rows: repeat(2);
}
.fa-candy-cane{
    color: red;
    font-size: 20px;
}
video{
      width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 7px;
}



.about-carausal{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.gallery{
     border-radius: 10px;
  height: 100%;
  width: 950px;
  /* background-color: yellow; */

}
.gallery-img{
    height: 450px;
    border-radius: 10px;
     border: 1px white solid;

} 
.card{
     transition: transform 0.4s ease, box-shadow 0.4s ease;
     
}
.card:hover{
      transform: scale(1.03); 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.card:hover .btn {
    text-decoration: underline;

}

/*** contact us ***/
.contact-img{
    width: 100%;
    height:85vh;
    /* background-color: pink; */
    background-image: url("https://images.pexels.com/photos/3303618/pexels-photo-3303618.jpeg");
    background-position: center;
    background-size: cover;
    /* opacity: 0.6; */
    position: relative; 
    
    padding-top: 20px;
    
}
.contact-img::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(13, 38, 63, 0.75); 
}
.forms{
    width: 500px;
    height: 80%;
    background-color: white;
    position: relative;
    background-image: url("src/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    font-weight: 600;
}
input{
    border: 1px solid black;
    padding:4px;
    border-radius: 5px;
}

input[type="email"]{
    width: 250px;
}
textarea{
    width: 90%;
}
.submit{
    background-color: rgb(248, 48, 48);
    padding: 7px 35px;
    border: none;
    color: white;
    margin-right: auto;
    transition: transform 0.4s ease
}
.submit:hover{
 transform: scale(1.03); 
 background-color: rgb(209, 46, 46);
}

.address{
     height: 50vh;
    /* width: 200px; */ 
    /* background-color: pink; */
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.add{
    position: relative;
    /* background-color:aqua; */
    height: 50vh;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1px;
}

.add1{
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px;
    color: white;
    position: relative;
}

.icon{
    position: relative;
    color: white;
    font-size: 50px;
}
.valuee{
    /* background-color: rgb(255, 178, 127); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
}

.foot{
    height: 50px;
    width: 100%;
    background-color: rgb(13, 5, 90);
    color: white;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(105, 82, 236, 0.5);
    z-index: 1000;
  }
.popup-content {
    background: #fff;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }

  /* Close button */
  .close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
  }
  .sign-up{

  }