*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    
     
}
/*** Home page ****/
.home-pg{
    background-image: url(src/christmas-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.sign{
    
    border-radius: 5px;
    border: 2px solid white;
   
    
}
.christmas{
  font-family: 'Birthstone', cursive;
}
